.design {
    background-color: rgb(218, 218, 218);
    color: azure;
}

/* .btn {
    background-color: #f06308;
    border-color: azure;
} */

/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-primary {
    color: #fff;
    background-color: #f06308;
    border-color: azure; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #ff6600;
    border-color: #161616; /*set the color you want here*/
}

/* .MuiIconButton-sizeMedium {
    margin-left: 5px;
    margin-right: 5px;
} */

.btn {
    /* margin-left: 5px;
    margin-right: 5px; */
}
